// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
html{position: relative;
  min-height:100%;

}
a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 60px 0;
}
.bottom {
    background-color: #0a1c2e;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}

body {
  position: relative;
  padding-bottom: 120px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn {
  background-color: #C0C0C0;
}
.blog_content{
  word-break: normal;

}
input[type="text"] {
  width: 1000px;
  height: 100px;
  word-break: normal;
}
